@mixin grid($column-start, $column-end, $row-start, $row-end) {
  grid-column-start: $column-start;
  grid-column-end: $column-end;
  grid-row-start: $row-start;
  grid-row-end: $row-end;
}

@mixin shadow($color: $gray) {
  box-shadow: 0 24px 48px -12px rgba($color, 0.35);
}