// colors
$white: #fff;
$black: #1e1f23;
$gray: #ebebeb;
$yellow: #ffd73c;
$light-yellow: #ffe168;
$blue: #aff4f9;
$light-blue: #c6ede3;
$purple: #e3c7ff;
$green: #baf5c0;

// padding
$padding-component-mobile: 1rem;
$padding-component: 2rem;

// margin
$margin-mobile: 1rem;
$margin-desktop: .5rem;

// border
$border-radius: 15px;

// font size
$font-size-header-mobile: 1.5rem;
$font-size: 1rem;

// variables
$light: $white;
$dark: $black;
$font-primary: $black;
$font-secondary: $gray;

// Navigation
$navigation-width: 12.5vw;
$navigation-font-size: .9rem;