// colors
$white: #fff;
$black: #1e1f23;
$gray: #9c9d9d;
$pink: #dfe0f2;

$light: $white;
$dark: $black;
$font-primary: $black;
$font-secondary: $gray;
$hover: $pink;

$padding-component: 2rem;
$border-radius: 20px;
