.left-wrapper {
  padding: 1rem;
  width: 100%;
  min-height: fit-content;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: 15vw;
    height: 100vh;
    width: 85vw;
  }
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: calc(100vw - 2 * #{$margin-mobile});
  margin: $margin-mobile;

  @include media-breakpoint-up(lg) {
    position: absolute;
    top: 0;
    left: calc(#{$navigation-width} + #{$margin-mobile});
    width: calc(100vw - #{$navigation-width} - 3 * #{$margin-mobile});
    min-height: calc(100vh - 2 * #{$margin-mobile});
    padding: $padding-component-mobile;
  }
}